@use '../../assets/abstracts' as *;

.login-page {
  display: flex;
  flex-direction: row;
  
  .left-panel {
    width: 55%;
    padding: 10px;
    height: 100vh;
  }

  .img-container {
    
    .img-box {
      height: 90vh;
      margin: 20px;
      padding: 10px;
      border: 0.5px solid black;
      border-radius: 25px;
    }
  }

  .right-panel {
    width: 45%;
    min-width: 0px;
    height: 100vh;
    
    .top-container {
      margin: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;

      &-logo {
        margin: 10px;
        padding: 10px;
        gap: 20px;
      }

      &-signup {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: right;
        gap: 10px;

        a {
          text-decoration: none;
          color: black;
        }

        button {
          background-color: $btn-signup;
          color: white;
        }
      }
    }
  }
}