.btn-container {
  button {
    display: block;
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid #25729a;
    border-radius: 3px;
    text-align: center;
    color: #ffffff;
    background-color: #3093c7;
    margin-bottom: 20px;
    padding: 7px 7px 7px 7px;
  }
}