@use '../../assets/abstracts' as *;

.form-container {
  margin: 1em;
  padding-top: 3em;
  border: 0.5px solid red;
  display: flex;
  flex-direction: column;
  text-align: center;

  :nth-child(2) {
    padding-bottom: 2em;
    color: $text-signup;
  }

  h1 {
    margin: 10px 0px 0px 0px;
    padding-top: 10px;
    font-size: 2em;
    font-weight: 500;
  }

  p {
    margin: 0px;
    padding-bottom: 1em;
  }

  input {
    max-width: 80%;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 10px;
  }

  .forgot-password {
    padding-top: 2em;
    padding-bottom: 1em;
    color: $btn-alink;
    font-weight: 600;
  }

  .or {
    padding: 1em;
    color: $text-signup;
  }

  .login-btn, .login-btn-google {
    button {
      width: 60%;
      font-weight: 600;
      padding: 10px;
    }
  }

  .login-btn {
    button {
      background-color: $btn-alink;
      color: white;
    }
  }

  .login-btn-google {
    button {
      background-color: whitesmoke;
      color: black;
    }
  }
}