@use '../../../assets/abstracts' as *;

.field-wrapper {
  margin: 10px;
  padding-left: 5rem;
  padding-right: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  input:focus-visible {
    outline: none !important;
    border: 2px solid #3fa4fc;
  }

  label {
    color: black;
    font-size: 0.90em;
    font-weight: bold;
    padding-left: 0.80rem;
    pointer-events: none;
  }

  input {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  &--label {
    text-align: left;
  }

  &--input {
    padding: 5px;
    padding-left: 1em;
    border: .5px solid;
  }

  .show-password {
    display: inline-flex;
    padding: 10px;
    gap: 5px;
    align-items: center;
    font-size: 0.9em;

    input {
      height: 1em;
      width: 1em;
    }

    button#toggle-password {
      background: none;
      border: none;
      cursor: pointer;
      font-weight: 300;
    }
  }

}